body{
  background-color: #e5eff9 !important;
}

a {
  /* color: inherit; */
  text-decoration: none !important;
}

ion-icon:hover {
  cursor: pointer;
}

ion-icon[name="cart"]{
  font-size: 22px;
  text-align: center;
}

ion-icon#add{
  font-size: 32px;
}

.added {
  border: 5px solid rgb(0, 102, 255) !important;
}


.cart_counter{
  width: 28px;
  height: 28px;
  background-color: aquamarine;
  border-radius: 50%;
  top: -18px;
  right: -18px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.edit, .delete{
  margin-block-end: 10px;
}

form label{
  display: block;
}

.card{
  background-image: url("./assets/bachground_card2.webp");
}